[submodule "learn_foundry/lib/forge-std"]
	path = learn_foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "learn_foundry/lib/solmate"]
	path = learn_foundry/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "learn_foundry/lib/openzeppelin-contracts"]
	path = learn_foundry/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
